/* Sections */

.bg-light {
	background-color: $gray-800 !important;
}


/* Navs */

.navbar {
	font-size: 0.9rem;

	.navbar-brand {
		font-size: 0.9rem;
		color: $white !important;

		&:hover {
			color: $green !important;
		}

		&:active {
			color: darken($green, 15%) !important;
		}
	}

	a {
		font-size: 0.9rem;
		color: $white;
		font-weight: 600;

		&:hover {
			color: $green !important;
			border-bottom: 0;
		}

		&:active {
			color: darken($green, 15%) !important;
		}
	}

	.navbar-toggler {
		background: $blue;
		color: white;
		padding: 0;

		&:hover {
			background: darken($blue, 15%) !important;
		}

		&:active {
			background: darken($blue, 30%) !important;
		}
	}

	.navbar-toggler-icon {
		width: auto;
		height: auto;
		padding: 10px 15px;
		font-size: 1.5rem;
	}

	.navbar-nav {
		li {
			margin-bottom: 0;

			&.active {
				a {
					color: $green;

					&:hover {
						color: $green !important;
					}

					&:active {
						color: darken($green, 15%) !important;
					}
				}
			}
		}
	}
}

/* Subnav */

.subnav {
	background: $darker-background-color;
	margin-bottom: 2rem;
	border-bottom: 3px solid $green;

	ul {
	list-style: none;
	padding-inline-start: 0;
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin-bottom: 0;

		.nav-item {
			margin-bottom: 0;
			position: relative;

			a {
				color: $white;
				border-radius: 2rem;
				padding: 0.5rem 1rem;

				&:hover {
					color: $green !important;
				}
			}

			&.active {

				a,
				a:hover {
					color: $green !important;

					&:before {
						content: '';
						position: absolute;
						bottom: calc(-1rem - 2px);
						left: calc(50% - 15px);
						color: white;
						width: 0; 
						height: 0; 
						border-left: 15px solid transparent;
						border-right: 15px solid transparent;
						border-bottom: 15px solid $green;
					}
				}
			}
		}
	}
}

/* Mobile subnav */
@media screen and (max-width: 767px) {

	.subnav {
		border-left: 3px solid $green;
		border-bottom: 0;

		ul {
		display: block;

			.nav-item {
				display: block;

				a {
					&:hover {
					}
				}

				&.active {

					a,
					a:hover {
						

						&:before {
							content: '';
							position: absolute;
							top: 7px;
							left: -1rem;
							color: white;
							width: 0; 
							height: 0; 
							border-left: 15px solid $green;
							border-top: 15px solid transparent;
							border-bottom: 15px solid transparent;
						}
					}
				}
			}
		}
	}
}


/* Buttons */

.btn {
	border-radius: 5px;
	color: $gray-900;
	font-weight: 500;
	font-size: 1rem;

	.fa-angle-right {
		font-weight: bold;
		margin-left: 5px;
	}
}

.btn-primary {
	background-color: $blue;
	color: $gray-900;
	font-weight: 600;

	&:hover {
		background-color: darken($blue, 15%) !important;
		color: $gray-900;
	}

	&:active {
		background-color: darken($blue, 30%) !important;
	}
}

/* Cards */

.hero-card {
	background-image: url('/images/hero-bg.png');
	background-position: center;
    background-size: cover;
	background-color: #3A555D;
	padding: 90px 50px 80px;
	border-radius: 8px;
	box-shadow: $high-float;

	p.small {
		font-size: .8rem;
		margin-top: 2rem;
		max-width: 40rem;
		font-weight: 300;
	}

	@media screen and (max-width: 767px) {
		padding: 80px 30px;
	}
}

.hero {
	p {
		font-size: 1.2rem;
	}
}

.card {
	margin-bottom: 30px;
	font-family: 'Source Code Pro', monospace;
	line-height: 1.6;
	font-size: 16px;
	font-weight: 400;
	box-shadow: $high-float;

	strong {
		font-weight: 700;
	}

	h4 {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}

	a {
		color: $green !important;
		font-weight: 600;

		&:hover {
			border-bottom: 0;
			color: darken($green, 15%) !important;
		}

		&:active {
			color: darken($green, 30%) !important;
		}
	}
}

.card-text {
	margin-bottom: .5rem;
}

.bg-primary {
 	background-color: darken($blue, 15%) !important;
 }

.bg-secondary, .bg-light {
	.card-header {
		background-color: $gray-700;
	}

	.card-body {
		background-color: $gray-800;
	}
 }

 .charts {
 	h1, h2, h3 {
 		margin: 0 0 0.5em 0;
 	}
 }

 #accordion {
 	.acc-card {
 		font-family: 'Open Sans', sans-serif;
 		font-size: 1rem;
 		font-weight: 300;
 		background-color: transparent;
 		box-shadow: none;
 		border: 0px;
 		padding: 0;
 		max-width: 45rem;

 		.acc-card-header, .acc-card-body {
 			background-color: transparent;
 			border: 0px;
 			box-shadow: none;
 			color: white;
 			padding: 0;
 		}

 		.acc-card-body {
 			margin-bottom: 30px;

 			a {
 				color: $blue !important;

 				&:active {
 					color: darken($blue, 15%) !important;
 					text-decoration: none;
 				}
 			}
 		}

 		.acc-card-header .btn {
 			padding: 20px 0 0px;
 			margin-bottom: 10px;
 			color: white;
 			font-size: 1.5rem;
 			border-radius: 0;

 			&:hover {
 				text-decoration: none;
 				border-bottom: 1px solid white;
	  			@media screen and (max-width: 767px) {
					border-bottom: 0;
				}
 			}

 			 &:focus {
				text-decoration: none !important;
			}

 			@media screen and (max-width: 767px) {
				font-size: 1.6rem;
			}
 		}

 		.btn {
 			text-align: left !important;
 		}
 	}
 }

 /*.charts {
 	.row {
 		margin-top: 30px;
 		margin-bottom: 30px;
 	}
 }*/


 /* Medians */

.chart-subheadings {
 	display: flex;
 	justify-content: space-between;
 	width: 160%;
 	margin-bottom: 20px;
 	.sub {
 		justify-content: space-between;
 	}
 }

.medians {
	list-style: none;
	padding-inline-start: 0;
		position: absolute;
		top: 20%;
		right: 0;
		text-align: right;
		width: calc(100% - 125px);
		li {
			width: 90%;
			position: absolute;
			border-bottom: 1px dashed $green;

		&:nth-child(1) {
			top: 80px;
		}
		&:nth-child(2) {
			top: 120px;
		}
		&:nth-child(3) {
			top: 160px;
		}
		&:nth-child(4) {
			top: 200px;
		}
		}
}


/* Pills */

.pills {
	list-style: none;
	padding-inline-start: 0;
	margin-top: 0px;
	max-width: 18rem;

	li {
		display: block;
		margin-bottom: 5px;
		font-size: 0.75rem;

		.bar-graph {
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 80px);
			background: rgba(137, 235, 215, .25);
			border-radius: 5px;
			position: relative;
			height: 6px;

			.bar {
				border-radius: 5px;
				background: $green;
				height: 6px;
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.caption {
			display: inline-block;
			vertical-align: middle;
			margin-left: 15px;
			font-weight: 700;
			color: $green;
		}

		.skill-name {
			margin-top: -8px;
			font-weight: 500;
		}

		&:nth-child(1) .bar-graph .bar {
			width: 73%;
		}
		&:nth-child(2) .bar-graph .bar {
			width: 73%;
		}
		&:nth-child(3) .bar-graph .bar {
			width: 33%;
		}
		&:nth-child(4) .bar-graph .bar {
			width: 30%;
		}
		&:nth-child(5) .bar-graph .bar {
			width: 21%;
		}
	}

}

.divider {
	padding: 0px 0 50px;

	hr {
		border-top: 1px solid $gray-700;
	}
}


 /* Mailchimp signup */

#mc_embed_signup {
	text-align: left;
	display: block;
	background: transparent;
	font-size: 18px !important;
	font-weight: 500;
	width: 100%;

	form {
		text-align: left !important;
	}

	input.email {
		font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
		font-size: 16px;
		border: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		color: $gray-900;
		background-color: $gray-500;
		box-sizing: border-box;
		height: 46px;
		padding: 0px 0.4em 0px 15px;
		display: inline-block;
		margin: 0;
		width: 350px;
		vertical-align: top;
		font-weight: 600;
	}

	.button {
	    font-size: 18px;
	    border: none;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    letter-spacing: 0;
	    color: $gray-900;
	    background-color: $blue;
	    box-sizing: border-box;
	    height: 46px;
	    line-height: 46px;
	    padding: 0 18px;
	    display: inline-block;
	    margin: 0;
	    transition: all 0.23s ease-in-out 0s;
	}

	@media screen and (max-width: 767px) {
		input.email, .button {
			display: block;
			width: 100%;
			margin-bottom: 1rem;
		}
	}
}

.gender-barbells {
	list-style: none;
	padding-inline-start: 0;

	li {
		border-bottom: 3px solid $green;
		position: relative;
		height: 50px;
		overflow-x: visible;
        white-space: nowrap;

		&:before,
		&:after {
			position: absolute;
			top: 38px;
			content: '';
			width: 20px;
			height: 20px;
			border-radius: 1em;
		}

		&:before {
			left: 0;
			background-color: $gray-900;
			border: 3px solid $green;
		}

		&:after {
			right: 0;
			background-color: $green;
		}
		&:nth-child(1) {
			width: 0.48%;
			left: 43.59%;
		}

		&:nth-child(2) {
			width: 9.25%;
			left: 45.75%;
		}
		&:nth-child(3) {
			width: 21.25%;
			left: 36%;
		}
		&:nth-child(4) {
			width: 10.7%;
			left: 35%;
		}
		&:nth-child(5) {
			width: 9%;
			left: 7.75%;
		}
		&:nth-child(6) {
			width: 24.43%;
			left: 70.58%;
		}
		&:nth-child(7) {
			width: 20%;
			left: 20%;
		}
		&:nth-child(8) {

		}
		&:nth-child(9) {

		}
	}
}
