/* Sections */

.bg-light {
	background-color: $gray-800 !important;
}

.navbar {
	font-size: 0.9rem;

	.navbar-brand {
		font-size: 0.9rem;
		color: $white !important;

		&:hover {
			color: $green !important;
		}

		&:active {
			color: darken($green, 15%) !important;
		}
	}

	a {
		font-size: 0.9rem;
		color: $white;
		font-weight: 600;

		&:hover {
			color: $green !important;
		}

		&:active {
			color: darken($green, 15%) !important;
		}
	}

	.navbar-toggler {
		background: $blue;
		color: white;
		padding: 0;

		&:hover {
			background: darken($blue, 15%) !important;
		}

		&:active {
			background: darken($blue, 30%) !important;
		}
	}

	.navbar-toggler-icon {
		width: auto;
		height: auto;
		padding: 10px 15px;
		font-size: 1.5rem;
	}

	.navbar-nav {
		li {
			margin-bottom: 0;

			&.active {
				a {
					color: $green;

					&:hover {
						color: $green !important;
					}

					&:active {
						color: darken($green, 15%) !important;
					}
				}
			}
		}
	}
}

/* Buttons */

.btn {
	border-radius: 5px;
	color: $gray-900;
	font-weight: 500;
	font-size: 1rem;

	.fa-angle-right {
		font-weight: bold;
		margin-left: 5px;
	}
}

.btn-primary {
	background-color: $blue;
	color: $gray-900;
	font-weight: 600;

	&:hover {
		background-color: darken($blue, 15%) !important;
		color: $gray-900;
	}

	&:active {
		background-color: darken($blue, 30%) !important;
	}
}

/* Cards */

.hero-card {
	background-image: url('/images/hero-bg.png');
	background-position: center;
    background-size: cover;
	background-color: #3A555D;
	padding: 135px 50px;
	border-radius: 8px;
	box-shadow: $high-float;
}

.hero {
	p {
		font-size: 1.2rem;
	}
}

.card {
	font-family: 'Source Code Pro', monospace;
	line-height: 1.6;
	font-size: 16px;
	font-weight: 400;
	box-shadow: $high-float;

	strong {
		font-weight: 700;
	}

	h4 {
		font-size: 1.2rem;
		margin-bottom: 20px;
	}

	a {
		color: $green !important;

		&:active {
			color: darken($green, 15%) !important;
		}
	}
}

.card-text {
	margin-bottom: .5rem;
}

.bg-primary {
 	background-color: darken($blue, 15%) !important;
 }

.bg-secondary, .bg-light {
	.card-header {
		background-color: $gray-700;
	}

	.card-body {
		background-color: $gray-800;
	}
 }


 /* Mailchimp signup */

#mc_embed_signup {
	text-align: left;
	display: block;
	background: transparent;
	font-size: 18px !important;
	font-weight: 500;
	width: 100%;

	form {
		text-align: left !important;
	}

	input.email {
		font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
		font-size: 16px;
		border: 0;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
		color: $gray-900;
		background-color: $gray-500;
		box-sizing: border-box;
		height: 46px;
		padding: 0px 0.4em 0px 15px;
		display: inline-block;
		margin: 0;
		width: 350px;
		vertical-align: top;
		font-weight: 600;
	}

	.button {
	    font-size: 18px;
	    border: none;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    border-radius: 3px;
	    letter-spacing: 0;
	    color: $gray-900;
	    background-color: $blue;
	    box-sizing: border-box;
	    height: 46px;
	    line-height: 46px;
	    padding: 0 18px;
	    display: inline-block;
	    margin: 0;
	    transition: all 0.23s ease-in-out 0s;
	}

	@media screen and (max-width: 767px) {
		input.email, .button {
			display: block;
			width: 100%;
			margin-bottom: 1rem;
		}
	}
}

/* Footer */

