section {
	padding-top: 20px;
	padding-bottom: 20px;
}

section+section {
	padding-top: 5px;
}

section+.bg-light {
	padding-top: 40px;
	margin-top: 20px;
}

.row+.row {
	margin-top: 40px;
}

@media screen and (max-width: 767px) {

	.col-space+.col-space {
		margin-top: 30px;
	}
}

.hidden-md-up {
	display: none;

	@media screen and (max-width: 767px) {
		display: block;
	}
}

.footer {
	font-size: 0.75rem;
	color: $gray-600;
	margin-top: 50px !important;
	padding: 40px;
}