/* Subnav colors */

.subnav {

	&.blue {
		border-bottom: 3px solid $blue;
		background: rgba(95, 208, 254, 0.15) !important;

		.nav-item {
			a:hover { color: $blue !important; }

			&.active {
				a, a:hover {
					color: $blue !important;

					&:before {
						border-bottom: 15px solid $blue !important;
					}
				}
			}
		}
	}

	&.lime {
		border-bottom: 3px solid $lime;
		background: rgba(187, 210, 119, 0.15) !important;

		.nav-item {
			a:hover { color: $lime !important; }

			&.active {
				a, a:hover {
					color: $lime !important;

					&:before {
						border-bottom: 15px solid $lime !important;
					}
				}
			}
		}
	}

	&.green {
		border-bottom: 3px solid $green;
		background: rgba(137, 235, 215, 0.15) !important;

		.nav-item {
			a:hover { color: $green !important; }

			&.active {
				a, a:hover {
					color: $green !important;

					&:before {
						border-bottom: 15px solid $green !important;
					}
				}
			}
		}
	}

	&.purple {
		border-bottom: 3px solid $purple;
		background: rgba(220, 134, 255, 0.15) !important;

		.nav-item {
			a:hover { color: $purple !important; }

			&.active {
				a, a:hover {
					color: $purple !important;

					&:before {
						border-bottom: 15px solid $purple !important;
					}
				}
			}
		}
	}

	&.red {
		border-bottom: 3px solid $red;
		background: rgba(255, 134, 150, 0.15) !important;

		.nav-item {
			a:hover { color: $red !important; }

			&.active {
				a, a:hover {
					color: $red !important;

					&:before {
						border-bottom: 15px solid $red !important;
					}
				}
			}
		}
	}
}

/* Body colors */

.content-wrapper {
	&.blue {
		a {
			color: $blue;

			&:hover {
				color: $blue;
				border-bottom: 1px solid $blue;
			}

			&:active {
				color: darken($blue, 15%);
			}
		}
	}
	&.lime {
		a {
			color: $lime;

			&:hover {
				color: $lime;
				border-bottom: 1px solid $lime;
			}

			&:active {
				color: darken($lime, 15%);
			}
		}
	}
	&.green {
		a {
			color: $green;

			&:hover {
				color: $green;
				border-bottom: 1px solid $green;
			}

			&:active {
				color: darken($green, 15%);
			}
		}
	}
	&.purple {
		a {
			color: $purple;

			&:hover {
				color: $purple;
				border-bottom: 1px solid $purple;
			}

			&:active {
				color: darken($purple, 15%);
			}
		}
	}
	&.red {
		a {
			color: $red;
			&:hover {
				color: $red;
				border-bottom: 1px solid $red;
			}

			&:active {
				color: darken($red, 15%);
			}
		}
	}
}