body, html {
	font-family: 'Source Sans Pro', sans-serif;
	line-height: 1.6;
	font-weight: 300;
}

h1, h2, h3, h4, h5 {
	font-family: Georgia;
}

strong {
	font-weight: 700;
}

ul li {
	margin-bottom: 1rem;
}

h3 {
	margin-top: 2.5rem;
	margin-bottom: 1rem;
}

.card {
	font-family: 'Source Code Pro', monospace;
	line-height: 1.6;
	font-size: 14px;
	font-weight: 400;

	strong {
		font-weight: 700;
	}
}

.card-text {
	margin-bottom: .5rem;
}