body, html {
	font-size: 20px;
	color: $gray-200;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
	font-family: Georgia;
}

h1 {
	font-style: italic;
}

strong {
	font-weight: 700;
}

ul li {
	margin-bottom: 1rem;
}

h3 {
	font-size: 36px;
	margin-top: 50px;
	margin-bottom: 15px;
}

a {
	color: $blue;
	font-weight: 500;

	&:hover {
		color: $blue;
		text-decoration: underline;
	}

	&:active {
		color: darken($blue, 15%);
	}
}