body, html {
	font-size: 20px;
	color: $gray-200;
	font-family: 'Open Sans', sans-serif;
	line-height: 1.6;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: $gray-900 !important;

	@media screen and (max-width: 767px) {
		font-size: 18px;
	}
}

h1, h2, h3, h4, h5 {
	font-family: Georgia;
}

h1 {
	font-style: italic;

	span {
		font-style: initial;
		font-size: 2.5rem;

		@media screen and (max-width: 767px) {
			font-size: 1.5rem;
		}
	}

	@media screen and (max-width: 767px) {
		font-size: 2rem;
	}
}

.article h1 {
	margin-bottom: 2rem;
}

strong {
	font-weight: 700;
}

ul li {
	margin-bottom: 1rem;
}

h3 {
	font-size: 2rem;
	margin-top: 50px;
	margin-bottom: 15px;

	@media screen and (max-width: 767px) {
		font-size: 1.6rem;
	}
}

h4 {
	font-size: 1.25rem;
	font-weight: 600;
	margin-top: 2rem;
}

a {
	color: $blue;
	font-weight: 500;

	&:hover {
		color: $blue;
		text-decoration: none;
		border-bottom: 1px solid $blue;
	}

	&:active {
		color: darken($blue, 15%);
	}
}