
//
// Color system
//

$white:    #fff;
$gray-100: lighten(#2C2C32, 90%);
$gray-200: lighten(#2C2C32, 80%);
$gray-300: lighten(#2C2C32, 70%);
$gray-400: lighten(#2C2C32, 60%);
$gray-500: lighten(#2C2C32, 50%);
$gray-600: lighten(#2C2C32, 40%);
$gray-700: #4D4D59;
$gray-800: #3A3A43;
$gray-900: #2C2C32;
$black:    #000 !default;

$background-color: $gray-900;
$darker-background-color: rgba(0,0,0,0.5);

$blue:    #5FD0FF;
$indigo:  #64B8C8 !default;
$purple:  #8664B3 !default;
$pink:    #e83e8c !default;
$red:     #BA6767 !default;
$orange:  #fd7e14 !default;
$yellow:  #DAC96B !default;	
$green:   #89EBD7;
$teal:	  #64B8C8;
$bright-teal: #1DFEC1;
$cyan:    #3498DB !default;

$primary:       $blue !default;
$secondary:     $gray-700 !default;
$success:       $red !default;
$info:          $cyan !default;
$warning:       $yellow !default;
$danger:        $red !default;
$light:         $gray-800 !default;
$dark:          $gray-500 !default;

$yiq-contrasted-threshold:  175 !default;

$high-float:    0 10px 6px -6px rgba(0, 0, 0, 0.15);
