/* Results */

.job-categories {
	list-style: none;
	padding-inline-start: 0;

	li {
		cursor: pointer;

		&.active {
			font-weight: bold;
			color: $green;
		}
	}
}


/* JOBS PAGE */

.job-buttons {
	button {
		font-weight: 600;
		font-size: 0.8rem;
		margin: 5px 3px;
		padding: 5px 10px;
	}
}