<div class="card text-white bg-secondary">
	<div class="card-header">
		Content Designer
	</div>
	<div class="card-body">
		<p>A Content Designer determines how information is communicated to audiences. This person works on content strategy, but not typically visual design.</p>

		<p style="margin-bottom: 10px;"><strong>Common skills:</strong></p>

		<ul class="pills">
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:100%"></div>
				</div>
				<div class="caption">100%</div>
				<div class="skill-name">Content Strategy</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:50%"></div>
				</div>
				<div class="caption">50%</div>
				<div class="skill-name">UX or Experience Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:40%"></div>
				</div>
				<div class="caption">40%</div>
				<div class="skill-name">Research</div>
			</li>
		</ul>
	</div>
</div><!-- card -->