<div class="card text-white bg-secondary">
	<div class="card-header">
		Design Director
	</div>
	<div class="card-body">
		<p class="job-description">Manages the design systems that other designers use. (This job may also be called Creative or Art Director).</p>

		<p class="skills-header"><strong>Common skills:</strong></p>

		<ul class="pills">
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:82%"></div>
				</div>
				<div class="caption">82%</div>
				<div class="skill-name">Visual Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:79%"></div>
				</div>
				<div class="caption">79%</div>
				<div class="skill-name">Team Leadership</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:61%"></div>
				</div>
				<div class="caption">61%</div>
				<div class="skill-name">Print Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:50%"></div>
				</div>
				<div class="caption">50%</div>
				<div class="skill-name">UX Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:46%"></div>
				</div>
				<div class="caption">46%</div>
				<div class="skill-name">Content Strategy</div>
			</li>
		</ul>
		<a data-item="2" data-name="Design Director" href="#job-details" class="skip-to-comp">Skip to compensation <i class="fa fa-angle-down"></i></a>
	</div>
</div><!-- card -->