<div class="card text-white bg-secondary">
	<div class="card-header">
		Front-end Designer
	</div>
	<div class="card-body">
		<p class="job-description">Creates and codes websites and user interfaces.</p>

		<p class="skills-header"><strong>Common skills:</strong></p>

		<ul class="pills">
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:100%"></div>
				</div>
				<div class="caption">100%</div>
				<div class="skill-name">Front-end Development</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:88%"></div>
				</div>
				<div class="caption">88%</div>
				<div class="skill-name">UX or Experience Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:88%"></div>
				</div>
				<div class="caption">88%</div>
				<div class="skill-name">Visual Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:53%"></div>
				</div>
				<div class="caption">53%</div>
				<div class="skill-name">Research</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:38%"></div>
				</div>
				<div class="caption">38%</div>
				<div class="skill-name">Content Strategy</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:38%"></div>
				</div>
				<div class="caption">38%</div>
				<div class="skill-name">Team Leadership</div>
			</li>
		</ul>
	</div>
</div><!-- card -->