<div class="card text-white bg-secondary">
	<div class="card-header">
		Design Manager
	</div>
	<div class="card-body">
		<p class="job-description">Runs design teams and manages individual team members.</p>

		<p class="skills-header"><strong>Common skills:</strong></p>

		<ul class="pills">
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:79%"></div>
				</div>
				<div class="caption">79%</div>
				<div class="skill-name">UX or Experience Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:75%"></div>
				</div>
				<div class="caption">75%</div>
				<div class="skill-name">Team Leadership</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:67%"></div>
				</div>
				<div class="caption">67%</div>
				<div class="skill-name">Visual Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:50%"></div>
				</div>
				<div class="caption">50%</div>
				<div class="skill-name">Project Management</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:50%"></div>
				</div>
				<div class="caption">50%</div>
				<div class="skill-name">Product Management</div>
			</li>
		</ul>
		<a data-item="4" data-name="Manager" href="#job-details" class="skip-to-comp">Skip to compensation <i class="fa fa-angle-down"></i></a>
	</div>
</div><!-- card -->