<div class="card text-white bg-secondary">
	<div class="card-header">
		Design Manager
	</div>
	<div class="card-body">
		<p>Design managers run design teams and manage individual team members.</p>

		<p class="skills-header"><strong>Common skills:</strong></p>

		<ul class="pills">
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:88%"></div>
				</div>
				<div class="caption">88%</div>
				<div class="skill-name">UX or Experience Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:60%"></div>
				</div>
				<div class="caption">60%</div>
				<div class="skill-name">Research</div>
			</li>
		</ul>
	</div>
</div><!-- card -->