<div class="card text-white bg-secondary">
	<div class="card-header">
		UX Designer or Researcer
	</div>
	<div class="card-body">

		<p class="skills-header"><strong>Common skills:</strong></p>

		<ul class="pills">
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:88%"></div>
				</div>
				<div class="caption">88%</div>
				<div class="skill-name">UX or Experience Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:60%"></div>
				</div>
				<div class="caption">60%</div>
				<div class="skill-name">Research</div>
			</li>
		</ul>
		<a data-item="5" data-name="UX Designer / Researcher" href="#job-details" class="skip-to-comp">Skip to compensation <i class="fa fa-angle-down"></i></a>
	</div>
</div><!-- card -->