<div class="card text-white bg-secondary">
	<div class="card-header">
		UX/UI Designer
	</div>
	<div class="card-body">
		<p class="job-description">Works on both user experience design and visual interface design.</p>

		<p class="skills-header"><strong>Common skills:</strong></p>

		<ul class="pills">
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:100%"></div>
				</div>
				<div class="caption">100%</div>
				<div class="skill-name">UX or Experience Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:100%"></div>
				</div>
				<div class="caption">100%</div>
				<div class="skill-name">Visual Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:59%"></div>
				</div>
				<div class="caption">59%</div>
				<div class="skill-name">Research</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:39%"></div>
				</div>
				<div class="caption">39%</div>
				<div class="skill-name">Team Leadership</div>
			</li>
		</ul>
	</div>
</div><!-- card -->