<div class="card text-white bg-secondary">
	<div class="card-header">
		Visual Designer
	</div>
	<div class="card-body">
		<p>Visual designers may work on marketing, branding, print design, or visual UI design (but not UX).</p>

		<p class="skills-header"><strong>Common skills:</strong></p>

		<ul class="pills">
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:73%"></div>
				</div>
				<div class="caption">73%</div>
				<div class="skill-name">Visual Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:73%"></div>
				</div>
				<div class="caption">73%</div>
				<div class="skill-name">Print Design</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:33%"></div>
				</div>
				<div class="caption">33%</div>
				<div class="skill-name">Content Strategy</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:30%"></div>
				</div>
				<div class="caption">30%</div>
				<div class="skill-name">Project Management</div>
			</li>
			<li>
				<div class="bar-graph">
					<div class="bar" style="width:21%"></div>
				</div>
				<div class="caption">21%</div>
				<div class="skill-name">Research</div>
			</li>
		</ul>
	</div>
</div><!-- card -->