<canvas id="canvas1"></canvas>
<script>

const boxplotData1 = {
  // define label tree
  datasets: [{
    backgroundColor: 'rgba(137, 235, 215, .25)',
    borderColor: 'rgba(137, 235, 215, 1)',
    borderWidth: 3,
    outlierColor: '#999999',
    padding: 10,
    itemRadius: 0,
    outlierColor: '#999999',
    data: [
        {min: 38400,
            q1: 49000,
            median: 64000,
            q3: 76000,
            max: 114000
        }
    ]
  }]
};

window.onload = () => {
  const ctx = document.getElementById("canvas1").getContext("2d");
  window.myBar = new Chart(ctx, {
    type: 'boxplot',
    data: boxplotData1,
    options: {
      responsive: true,
      maintainAspectRatio: false,
      legend: {
            display: false
        },
        scales: {
          xAxes: [{
            ticks: {
              autoSkip: false,
              fontColor: '#e0e0e3',
              fontSize: 14,
              fontStyle: 500,
            },
            gridLines: { display: false }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: false
            },
            gridLines: { color: "#4D4D59" },
            ticks: {
              padding: 30,
              fontColor: '#e0e0e3',
              fontSize: 14,
              fontStyle: 500,
              stepSize: 20000, // <----- This prop sets the stepSize
              beginAtZero: false,
              callback: function(value, index, values) {
                if(parseInt(value) >= 1000){
                  return Math.abs(value) > 999 ? '$' + Math.sign(value)*((Math.abs(value)/1000).toFixed(1)) + 'k' : '$' + Math.sign(value)*Math.abs(value)
                   //return '$' + value2.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                } else {
                   return '$' + value;
                }
              }, 
            }
          }]
        },
      title: {
        display: false,
        text: 'Boxplots of all jobs'
      }
    }
  });
};

</script>