<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="/">{{ site.title }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">☰</span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      {% for entry in site.data.topnav.topnav %}
          {% for item in entry.items %}
              {% if item.external_url %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{item.external_url}}" target="_blank">{{item.title}}</a>
                  </li>
              {% elsif page.url == item.url %}
                  <li class="nav-item active">
                      <a class="nav-link" href="{{ site.baseurl }}{{item.url}}">{{item.title}} <span class="sr-only">(current)</span></a>
                  </li>
              {% else %}
                  <li class="nav-item">
                      <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{item.title}}</a>
                  </li>
              {% endif %}
          {% endfor %}
      {% endfor %}
    </ul>
  </div>
</nav>