<canvas id="myChart" width="400" height="200"></canvas>
<script>
var canvas = document.getElementById('myChart');
var data = {
        labels: ['20k','30k','40k','50k','60k','70k','80k','90k','100k','110k','120k','130k','140k','150k','160k','170k','180k','190k','200k'],
        datasets: [{
            data: [0,0,0,2,5,8,12,21,16,13,8,5,4,3,2,1,0,0,0,0],
            backgroundColor: [
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)'
            ],
            borderColor: [
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)'
            ],
            borderWidth: 1
        }]
    };
var option = {
    tooltips: {
         //enabled: false
    },

    legend: {
        display: false
    },

    scales: {
        yAxes: [{
          ticks: {
            fontColor: "#777788",
            max: 25,
                callback: function(value, index, values) {
                return (value) + '%';
            }
          },
          scaleLabel: {
            display: true,
            fontColor: "#777788",
            labelString: 'Percentage of respondents',
          },
        },
      ],
        xAxes:[{
            display: true,
            fontColor: "#777788",
            labelString: 'Average Score',
            ticks: {
                fontColor: "#777788",
                autoSkip: true,
                maxTicksLimit: 12
            }
        }]
    }
};

var myBarChart = Chart.Bar(canvas,{
    data:data,
  options:option
});
</script>