<nav class="navbar subnav">
    <ul class="">
        {% for entry in site.data.subnav.subnav %}
            {% for item in entry.items %}
                {% if item.external_url %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{item.external_url}}" target="_blank">{{item.title}}</a>
                    </li>
                {% elsif page.url == item.url %}
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ site.baseurl }}{ item.url }}">{{item.title}} <span class="sr-only">(current)</span></a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ site.baseurl }}{{ item.url }}">{{item.title}}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% endfor %}
    </ul>
</nav>