<canvas id="myChart" width="400" height="200"></canvas>
<script>
var canvas = document.getElementById('myChart');
var data = {
        labels: [30000,40000,50000,60000,70000,80000,90000,100000,110000,120000,130000,140000,150000,160000,170000],
        datasets: [{
            label: 'Median: $89k',
            data: [{
                x: 80000,
                y: 20
            }, {
                x: 80000,
                y: 0
            }],
            borderColor: 'rgba(222, 109, 109, 1)',

            // Changes this dataset to become a line
            type: 'line'
        }, {
            data: [1.1,5.3,5.3,10.6,16.0,11.7,11.7,7.4,5.3,3.2,13.8,3.2,1.1,1.1,1.1],
            backgroundColor: [
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)'
            ],
            borderColor: [
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)',
                'rgba(137, 235, 215, 1)'
            ],
            borderWidth: 1
        }]
    };
var option = {
    tooltips: {
         //enabled: false
    },

    annotation: {
        events: ["click"],
        annotations: [
          {
            drawTime: "afterDatasetsDraw",
            id: "hline",
            type: "line",
            mode: "horizontal",
            scaleID: "y-axis-0",
            borderColor: "black",
            borderWidth: 5,
            label: {
              backgroundColor: "red",
              content: "Test Label",
              enabled: true
            },
            onClick: function(e) {
              // The annotation is is bound to the `this` variable
              console.log("Annotation", e.type, this);
            }
          },
          {
            drawTime: "beforeDatasetsDraw",
            type: "box",
            xScaleID: "x-axis-0",
            yScaleID: "y-axis-0",
            backgroundColor: "rgba(101, 33, 171, 0.5)",
            borderColor: "rgb(101, 33, 171)",
            borderWidth: 1,
            onClick: function(e) {
              console.log("Box", e.type, this);
            }
          }
        ]
    },

    legend: {
        display: false
    },

    scales: {
        yAxes: [{
          ticks: {
            fontColor: "#777788",
            max: 20,
                callback: function(value, index, values) {
                return (value) + '%';
            }
          },
          scaleLabel: {
            display: true,
            fontColor: "#777788",
            labelString: 'Percentage of respondents',
          },
        },
      ],
        xAxes:[{
            display: true,
            fontColor: "#777788",
            labelString: 'Average Score',
            ticks: {
                fontColor: "#777788",
                autoSkip: true,
                maxTicksLimit: 12
            }
        }]
    }
};

var myBarChart = Chart.Bar(canvas,{
    data:data,
  options:option
});
</script>

<script src="/js/annotation.js"></script>