---
---

{% include head.html %}
{% include nav.html %}

<section>
    <div class="container">
        <div class="row text-left">
            <div class="col-8">
                <h2>{{ page.title }}</h2>
                <p>We are three Philly designers who started a conversation about salary inequity and never stopped. We're here to support our community's access to reliable salary information. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card bg-light">
                  <div class="card-body">
                    <h4 class="card-title">Lauren Hallden</h4>
                    <p class="card-text">Lauren is the Lead Product Designer at Stitch. She's worked for a variety of startups and nonprofits.</p>
                    <p class="card-text"><a href="https://www.laurenhallden.com" target="_blank">laurenhallden.com</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                  <div class="card-body">
                    <h4 class="card-title">Anthony Nguyen</h4>
                    <p class="card-text">Tony is a UX Design Lead at Comcast, where he works on the X1 TV platform.</p>
                    <p class="card-text"><a href="https://www.antnguyen.com" target="_blank">antnguyen.com</a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card bg-light">
                  <div class="card-body">
                    <h4 class="card-title">Dan Singer</h4>
                    <p class="card-text">Dan is a Senior Experience Designer at Think Company. His current focus is content strategy.</p>
                    <p class="card-text"><a href="https://www.singerde.com" target="_blank">singerde.com</a></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>How can I contribute?</h3>
                <p>You can <a href="#">take the survey here.</a> Have feedback? Contact us at phillydesigncomp AT gmail DOT com.</p>
                <h3>How can I get updates on this project?</h3>
                <p>If you’re interested in keeping up-to-date with this project and its results, provide your email address below:</p> MAILCHIMP PLACEHOLDER

            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-lg">Take the survey <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</section>
