---
---

<!DOCTYPE html>
<head>
{% include head.html %}
</head>
<body>
{% include nav.html %}

<section>
    <div class="container">
        <div class="row text-left">
            <div class="col-lg-9">
                <h1>{{ page.title }}</h1>
                <p>We are three Philly designers who started a conversation about salary inequity and never stopped. We're here to support our community's access to reliable salary information. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-space">
                <div class="card bg-light">
                  <div class="card-body">
                    <h4 class="card-title">Lauren Hallden</h4>
                    <p class="card-text">Lauren is the Lead Product Designer at Stitch. She's worked for a variety of startups and nonprofits.</p>
                    <p class="card-text"><a href="https://www.laurenhallden.com" target="_blank">laurenhallden.com <i class="fa fa-angle-right"></i></a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 col-space">
                <div class="card bg-light">
                  <div class="card-body">
                    <h4 class="card-title">Anthony Nguyen</h4>
                    <p class="card-text">Tony is a UX Design Lead at Comcast, where he works on the X1 TV platform.</p>
                    <p class="card-text"><a href="https://www.antnguyen.com" target="_blank">antnguyen.com <i class="fa fa-angle-right"></i></a></p>
                  </div>
                </div>
            </div>
            <div class="col-md-4 col-space">
                <div class="card bg-light">
                  <div class="card-body">
                    <h4 class="card-title">Dan Singer</h4>
                    <p class="card-text">Dan is a Senior Experience Designer at Think Company. His current focus is content strategy.</p>
                    <p class="card-text"><a href="https://www.singerde.com" target="_blank">singerde.com <i class="fa fa-angle-right"></i></a></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section> 

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <h3>How can I contribute?</h3>
                <p>You can <a href="#">take the survey here.</a> Have feedback? Contact us at:<br/>phillydesigncomp AT gmail DOT com</p>
                <h3>How can I get updates on this project?</h3>
                <p>If you’re interested in keeping up-to-date with this project and its results, provide your email address below:</p>

                <!-- Begin Mailchimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="https://gmail.us3.list-manage.com/subscribe/post?u=04cfc825e27ada5c0f9b49361&amp;id=9be5d2c62c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                        
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_04cfc825e27ada5c0f9b49361_9be5d2c62c" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary"></div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->

            </div>
        </div>
    </div>
</section>

{% include footer.html %}
</body>
</html>