---
---

{% include head.html %}
{% include nav.html %}

<section>
    <div class="container">
        <div class="row text-left">
            <div class="col-12">
                <h1>{{ page.title }}</h1>
                <ul>
                    <li>Impetus for this work</li>
                    <li>Methodology</li>
                    <li>Data privacy</li>
                    <li>Who we are, how to contribute</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Take the Survey</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-primary btn-lg">Take the survey <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</section>