---
---

{% include head.html %}
{% include nav.html %}

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>{{ page.title }}</h1>
                <p>A new project will live here, soon!</p>
                <button type="button" class="btn btn-primary btn-lg">Take the survey <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</section>

<section class="bg-light faq">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2>Frequently Asked Questions</h2>
                <h4>What is the survey?</h4>
                <p>This is a project by <a href="/about">Dan, Tony, and Lauren</a>, three designers working at different companies in Philadelphia. Our goal is to give local designers, particularly <strong>junior designers</strong> or those in <strong>underrepresented minorities</strong>, a reference point for what their worth might be to employers.
                </p>
                <h4>What will it look like?</h4>
                <p>The survey will ask for basic information about your current salary, benefits, and job responsibilities, as well as your demographic information. We're asking these questions in case any noticeable pay disparities emerges across demographic lines.</p>
                <p>The survey should take about 15 minutes to complete. <strong>All responses will be anonymous</strong> (more on that below).</p>
                <h4>How will the data be used?</h4>
                <p>From the survey responses, we will create example profiles of common design jobs &mdash; for instance, a Junior designer at a local agency, or a Senior Product Designer &mdash; and data visualizations around the pay ranges for those positions.</p>
                <p>We realize your salary is sensitive information. <strong>We will not:</strong></p>
                <ul>
                    <li>Offer or share the raw data to anyone</li>
                    <li>Collect or store your name anywhere</li>
                    <li>Present data in any format that allows a single person's response to be identifable</li>
                    <li>Keep any raw data after the final presentation is released</li>
                </ul>

                <h4>How can I contribute?</h4>
                <p>Take the survey here. Contact us at: </p>
                <p>
            </div>
        </div>
    </div>
</section>