---
---

{% include head.html %}
{% include nav.html %}

<section>
    <div class="container">
        <div class="row text-center">
            <div class="col-12">
                <h1>{{ page.title }}</h1>
                <p>A new project will live here, soon!</p>
                <button type="button" class="btn btn-primary btn-lg">Take the survey <i class="fa fa-angle-right"></i></button>
            </div>
        </div>
    </div>
</section>

<section class="bg-light faq">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>What is the survey?</h3>
                <p>This is a project by <a href="/about">Dan, Tony, and Lauren</a>, three designers working in Philadelphia. Our goal is to raise the salary conversation for digital designers in the Philadelphia community so that we can <strong>better understand our worth</strong> and how we can <strong>advocate for our peers.</strong>
                </p>
                <h3>What will it look like?</h3>
                <p>The survey will ask for basic information about your current salary, benefits, and job responsibilities, as well as specific demographic information. These questions are required, but free response. We're asking for this information in order to build an understanding of the salary data when it comes to underrepresented minorities, and to discuss any notable pay disparities that may emerge across demographic lines.</p>
                <p><strong>All responses will be anonymous</strong> (more on that below). The survey should take about 15 minutes to complete.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white bg-primary">
                  <div class="card-header">Sample job</div>
                  <div class="card-body">
                    <h4 class="card-title">Senior UX/UI Designer</h4>
                    <p class="card-text">Employed at: <strong>an agency</strong></p>
                    <p class="card-text">Years of experience: <strong>5</strong></p>
                    <p class="card-text">Manages team members: <strong>no</strong></p>
                  </div>
                </div>
            </div>    
            <div class="col-md-8">
                <div class="card text-white bg-secondary">
                    <div class="card-header">Salary distribution</div>
                    <div class="card-body">
                        <canvas id="myChart" width="400" height="200"></canvas>
                        <script>
                        var canvas = document.getElementById('myChart');
                        var data = {
                                labels: ['20k','30k','40k','50k','60k','70k','80k','90k','100k','110k','120k','130k','140k','150k','160k','170k','180k','190k','200k'],
                                datasets: [{
                                    data: [0,0,1,2,4,7,12,16,21,13,8,5,4,3,2,1,0,0,0,0],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(255, 99, 132, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)',
                                        'rgba(255, 99, 132, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            };
                        var option = {
                            tooltips: {
                                 //enabled: false
                            },

                            legend: {
                                display: false
                            },

                            scales: {
                                yAxes: [{
                                  ticks: {
                                    max: 25,
                                        callback: function(value, index, values) {
                                        return (value) + '%';
                                    }
                                  },
                                  scaleLabel: {
                                    display: true,
                                    labelString: 'Percentage of respondents',
                                  },
                                },
                              ],
                                xAxes:[{
                                    display: true,
                                    labelString: 'Average Score',
                                    ticks: {
                                        autoSkip: true,
                                        maxTicksLimit: 12
                                    }
                                }]
                            }
                        };

                        var myBarChart = Chart.Bar(canvas,{
                            data:data,
                          options:option
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <h3>How will the data be used?</h3>
                <p>Results will be presented largely in two sections:</p>
                <p><strong>Compensation Profiles:</strong> We'll be creating profiles from the data based on clusters of responsibilities, salary data, and experience level. You might expect to see profiles along the lines of "Entry-level (Agency)" or "In-house Design Lead."</p>
                <p><strong>Overall Trends:</strong> A critical part of this work is to understand disparity of salary and benefits across demographic groups. We expect to do a comparative analysis that will visualize trends that our design community should be aware of and work to correct.</p>
                <h3>How will my information be kept private?</h3>
                <p>We realize your salary is sensitive information. <strong>We will not:</strong></p>
                <ul>
                    <li>Share the raw data with anyone</li>
                    <li>Collect or store your name anywhere</li>
                    <li>Present data in any format that allows a single person's response to be identifable</li>
                    <li>Keep any raw data after the final presentation is released</li>
                </ul>

                <h3>How can I contribute?</h3>
                <p>You can <a href="#">take the survey here.</a> Have feedback? Check the <a href="/about">about page</a> to contact us.</p>
                <p>
            </div>
        </div>
    </div>
</section>