---
---

<!DOCTYPE html>
<head>
{% include head.html %}
</head>
<body>
{% include nav.html %}

<section>
    <div class="container hero">
        <div class="row text-left">
            <div class="col-12">
                <div class="hero-card">
                    <h1>{{ page.title }}</h1>
                    <p>A community project to advocate for fair pay in design</p>
                    <button type="button" class="btn btn-primary btn-lg">Take the survey <i class="fa fa-angle-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="faq">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h3>What is the survey?</h3>
                <p>This is a project by <a href="/about">Dan, Lauren, and Tony</a>, three designers working in Philadelphia. Our goal is to demystify salaries and job titles for designers in the Philadelphia community, so that we can <strong>better understand our worth</strong> and how we can <strong>advocate for our peers.</strong> To do that, we've designed a brief survey that should take about 5-10 minutes to complete.</p>
                <h3>What will it look like?</h3>
                <p>The survey will ask for basic information about your current salary, benefits, and job responsibilities, as well as specific demographic information such as gender identification, sexuality, racial/ethnic identification, and disability status.</p>
                <p>We're specifically asking for this information in order to:</p>
                <ul>
                    <li>build an understanding of the salary data when it comes to underrepresented minorities in our community</li>
                    <li>be able to visualize and discuss any notable pay disparities that may emerge across demographic lines</li>
                    <li>ultimately, provide you with a point of reference for what your skills are worth to employers</li>
                </ul>
                <p>We understand that all of this information can be extremely sensitive. <strong>All responses will be anonymous</strong> (more on that below). We won't ask you for your email address or name.</p>
                <p>These sensitive questions are required, but free response in order to allow you to use language that is most meaningful to you.</p>
                <h3>How will the data be used?</h3>
                <p>Results will be presented largely in two sections:</p>
                <p><strong>Compensation Profiles:</strong> We'll be creating profiles from the data based on clusters of responsibilities, salary data, and experience level. You might expect to see profiles along the lines of "Entry-level designer at an Agency" or "In-house Design Lead."</p>
            </div>
        </div>
        <div class="row">
            <div class="col col-md-4">
                <div class="card text-white bg-secondary">
                  <div class="card-header">Sample job</div>
                  <div class="card-body">
                    <h4 class="card-title">Senior UX/UI Designer</h4>
                    <p class="card-text">Employed at: <strong>an agency</strong></p>
                    <p class="card-text">Years of experience: <strong>5</strong></p>
                    <p class="card-text">Manages team members: <strong>no</strong></p>
                  </div>
                </div>
            </div>    
            <div class="col col-md-8">
                <div class="card text-white bg-secondary">
                    <div class="card-header">Salary distribution</div>
                    <div class="card-body">
                        <canvas id="myChart" width="400" height="200"></canvas>
                        <script>
                        var canvas = document.getElementById('myChart');
                        var data = {
                                labels: ['20k','30k','40k','50k','60k','70k','80k','90k','100k','110k','120k','130k','140k','150k','160k','170k','180k','190k','200k'],
                                datasets: [{
                                    data: [0,0,1,2,4,7,12,16,21,13,8,5,4,3,2,1,0,0,0,0],
                                    backgroundColor: [
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)'
                                    ],
                                    borderColor: [
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)',
                                        'rgba(137, 235, 215, 1)'
                                    ],
                                    borderWidth: 1
                                }]
                            };
                        var option = {
                            tooltips: {
                                 //enabled: false
                            },

                            legend: {
                                display: false
                            },

                            scales: {
                                yAxes: [{
                                  ticks: {
                                    max: 25,
                                        callback: function(value, index, values) {
                                        return (value) + '%';
                                    }
                                  },
                                  scaleLabel: {
                                    display: true,
                                    labelString: 'Percentage of respondents',
                                  },
                                },
                              ],
                                xAxes:[{
                                    display: true,
                                    labelString: 'Average Score',
                                    ticks: {
                                        autoSkip: true,
                                        maxTicksLimit: 12
                                    }
                                }]
                            }
                        };

                        var myBarChart = Chart.Bar(canvas,{
                            data:data,
                          options:option
                        });
                        </script>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p><strong>Overall Trends:</strong> A critical part of this work is to understand how compensation disparity intersects with demographics in our design community. We expect to do a comparative analysis that will visualize trends in order to make data understandable and actionable.</p>
                <h3>How will my information be kept private?</h3>
                <p>We realize that the information we’re collecting is sensitive. <strong>We will not:</strong></p>
                <ul>
                    <li>Collect or store any identifying information (e.g., name, email) alongside the survey data</li>
                    <li>* Share the raw data with anyone outside of our analysis team, listed on this site</li>
                    <li>Present data in any format that allows a single person's response to be identifiable</li>
                </ul>
                <p>If you have questions about how your data will be handled, contact us at phillydesigncomp AT gmail DOT com.</p>
                <h3>What's the timeline?</h3>
                <p>We expect to collect responses in July of 2019, and provide results by the end of the summer or early fall.</p>

                <h3>How can I contribute?</h3>
                <p>You can <a href="#">take the survey here.</a> Have feedback? Contact us at phillydesigncomp AT gmail DOT com.</p>
                <h3>How can I get updates on this project?</h3>
                <p>If you’re interested in keeping up-to-date with this project and its results, provide your email address below:</p> MAILCHIMP PLACEHOLDER
            </div>
        </div>
    </div>
</section>

</body>
</html>
