---
---

{% include head.html %}
{% include nav.html %}

<section>
    <div class="container">
        <div class="row text-left">
            <div class="col-8">
                <h1>{{ page.title }}</h1>
                <p>You've contributed your information to the survey. <strong>Awesome!</strong></p>
                <h3>Have something else to share?</h3>
                <p>We'd love to hear any feedback you may have. Contact us at:</p>
                <h3>What's next?</h3>
                <p>We expect to collect responses in June and July of 2019, and provide results by the end of the summer. Watch this space for updates!</p>
            </div>
        </div>
    </div>
</section>