---
---

<!DOCTYPE html>
<head>
{% include head.html %}
</head>
<body>
{% include nav.html %}

<section>
    <div class="container">
        <div class="row text-left">
            <div class="col-lg-9">
                <h1>{{ page.title }}</h1>
                <p>Thank you for sharing. We're going to collect responses throughout July and expect to share results in the fall. If you'd like to receive updates, sign up for our email list below! (This will be in no way tied to your responses.)</p>

                {% include mailchimp.html %}

                <h3>Interested in sharing your story?</h3>
                <p>We're also interested in collecting stories, either positive or negative, around things you've faced in your career. These findings will complement the quantitative data from the survey to paint a more complete picture.</p>
                <p>If you'd like to discuss, contact us at <strong>phillydesigncomp AT gmail DOT com</strong> with your name and a brief note, and we'll get back to you shortly!</p>
            </div>
        </div>
    </div>
</section>

{% include footer.html %}
<!--<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d24a984221cdb1a"></script>-->
</body>
</html>