---
---

{% include head.html %}
{% include nav.html %}

<section>
    <div class="container">
        <div class="row text-left">
            <div class="col-8">
                <h1>{{ page.title }}</h1>
                <p>Thank you for sharing. We're going to collect responses throughout July and expect to share results in the fall. If you'd like to receive updates, sign up for our email list below. (This will be in no way tied to your responses!)</p>
                MAILCHIMP AGAIN
                <h3>Interested in sharing your story?</h3>
                <p>We're also interested in collecting stories, either positive or negative, around things you've faced in your career. These findings will help to compliment the quantitative data from the survey. If you'd like to discuss, contact us at phillydesigncomp AT gmail DOT com with your name and a brief note, and we'll get back to you shortly!</p>
            </div>
        </div>
    </div>
</section>
